@model samsung.Rh.Employee.Domain.Entities.ListaProdutos
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="container-principal">
        <div class="alert alert-info">
            <h3 style="text-align:center">Busca avançadas de produtos</h3>
        </div>
        <div class="container-left">
            @*@Html.Partial("Registros","Produtos")*@
            @using (Html.BeginForm())
            {
                <div class="form-inline">
                    @Html.AntiForgeryToken()
                    <div class="form-group">

                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" id="btnDel" name="btnDel">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            }

            <br />
            @Html.Raw(ViewBag.GridViewString)
        </div>
        <div class="container-right">

            <button type="button" class="btn btn-primary btn-lg btn-block" id="btnSearch">
                <span> Apply</span>
            </button>
            <table class="table table-responsive" id="tblProdutos">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Descricao</th>
                    </tr>

                </thead>
                <tbody>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.ProdutoName</td>
                                <td>@Convert.ToDecimal(item.Valor)</td>
                                <td>@item.Descricao</td>
                            </tr>
                        }*@

                </tbody>
            </table>
        </div>
    </div>
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()*@


    @*}*@
    @*<hr />

        <div class="col-xs-8 col-xs-offset-2">
            <div class="col-xs-2" style="background-color: #F47B36; padding: 30px 10px;"></div>
            <div class="col-xs-2 col-xs-offset-1" style="background-color: #F47B36; padding: 30px 10px;"></div>
            <div class="col-xs-2 col-xs-offset-1" style="background-color: #F47B36; padding: 30px 10px;"></div>
            <div class="col-xs-2 col-xs-offset-1" style="background-color: #F47B36;padding: 30px 10px;"></div>
        </div>*@



</div>

@section scripts{
    <script src="~/Scripts/GetProdutosPorNome.js"></script>
    <script src="~/Scripts/DeleteRegistros.js"></script>
}

